<table class="common-table zebra-striped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Realm</th>
    <th>Guild</th>
    <th>Faction</th>
    <th>Points</th>
    <th>Updated</th>
  </tr>
  <%= render :partial => "member", :collection => @members, :locals => { :page => params[:page], :guild => @guild } %>
</table>
<%= paginate @members %>
