/*
 *= require_self
 *= require_tree . 
*/
.content {
  margin-top: 60px;
}
/* Faction */
.side0 { color: #0078ff; } /* Alliance */
.side1 { color: #b30000; } /* Horde */

/* Character Classes */
.class1 a { color: #8D4000; font-weight: bold; text-decoration: none; } /* warrior */
.class2 a { color: #DE80AB; font-weight: bold; text-decoration: none; } /* paladin */
.class3 a { color: #aad372; font-weight: bold; text-decoration: none; } /* hunter */
.class4 a { color: #FFDC1E; font-weight: bold; text-decoration: none; } /* rogue */
.class5 a { color: #898784; font-weight: bold; text-decoration: none; } /* prist */
.class6 a { color: #c41e3b; font-weight: bold; text-decoration: none; } /* death knight */
.class7 a { color: #2359ff; font-weight: bold; text-decoration: none; } /* shaman */
.class8 a { color: #68ccef; font-weight: bold; text-decoration: none; } /* mage */
.class9 a { color: #9382c9; font-weight: bold; text-decoration: none; } /* warlock */
.class11 a { color: #ff7c0a; font-weight: bold; text-decoration: none; } /* druid */