<!DOCTYPE html>
<html>
<head>
  <title>Achiev</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="span-24 last">

    </header>
    <div class="span-16">
      <%= yield %>
    </div>
    <div class="span-8 last">
      
    </div>
  </div>
</body>
</html>
